<?xml version="1.0"?>
<!--
/**
 * Copyright © MageKey. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <magekey_customerrestriction>
            <registration>
                <email>
                    <condition>allow</condition>
                    <error_message>This action is currently restricted</error_message>
                </email>
            </registration>
            <login>
                <email>
                    <condition>allow</condition>
                    <error_message>This action is currently restricted</error_message>
                </email>
            </login>
        </magekey_customerrestriction>
    </default>
</config>
