<?xml version="1.0"?>
<!--
/**
 * Copyright © MageKey. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <type name="MageKey\CustomerRestriction\Model\Restriction\Pool">
        <arguments>
            <argument name="restrictions" xsi:type="array">
                <item name="registration" xsi:type="array">
                    <item name="email" xsi:type="string">MageKey\CustomerRestriction\Model\Restriction\Registration\Email</item>
                </item>
                <item name="login" xsi:type="array">
                    <item name="email" xsi:type="string">MageKey\CustomerRestriction\Model\Restriction\Login\Email</item>
                </item>
            </argument>
        </arguments>
    </type>

</config>
